# macOS
.DS_Store

# IntelliJ / VSCode
.idea/
.vscode/

# Logs
logs/
*.log

# Node
node_modules/
dist/

# Java
target/
*.iml
*.class

# Spring Boot
application.yml
application.properties

# dotenv
.env
.env.*

# OS
Thumbs.db

# Others
*.swp

